.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.search {
  background-color:black;
  width: 100%;
  display: inline-flex;
  margin-bottom: 0.5em;
}
.date {
  padding-left: 1em;
  padding-right:1em;
  padding-top:.2em;
  white-space: nowrap;
}
.dropdown {
  padding-left: 1em;
  padding-bottom:.2em;
  background-color:black;
  color:white;
  white-space:nowrap;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  width: 280px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.App-header {
  background-color: #303641;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}
.A1 {
  background-color: #4d2629;
}
.A2 {
  background-color: #2f2537;
}
.A3 {
  background-color: #24261a;
}
.A4 {
  background-color: #1f2716;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table, th, td {
  border: 1px solid rgb(28, 28, 28);
}
tr {
  background-color: #343c4b;
}
tr:hover {
  background-color: #121212;
}
.sort:hover {
  background-color: #520101;
}